{% extends "doctor/index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered">
    <tr>
      <th>Sno</th>
      <th>Date</th>
      <th>From Time</th>
      <th>To Time</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
      <td width="50px">{{ loop.index }}</td>
      <td width="180px">{{ i['date'] }}</td>
      <td width="100px">{{ i['time_from'] }}</td>
      <td>{{ i['time_to'] }}</td>
      <td width="50px"><a href="/edit_doctor_schedule/{{ i['schedule_id'] }}" class="btn btn-info">Edit</a></td>
      <td width="50px"><a href="/delete_doctor_schedule/{{ i['schedule_id'] }}"  class="btn btn-danger" onclick="return confirm('do you want to delete?')">Delete</a></td>
    <td width="50px"><a href="/view_booking/{{ i['schedule_id'] }}"  class="btn btn-success">Booking</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
{% endblock %}
