{% extends "doctor/index.html" %}
{% block body %}
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/doctor_change_password_post">
  <table class="table table-bordered">
    <tr>
      <td width="180px">Current password</td>
      <td>
      <input type="password" required name="textfield" class="form-control" id="textfield" /></td>
    </tr>
    <tr>
      <td>New password</td>
      <td>
      <input type="password" required name="textfield2" class="form-control" id="textfield2" /></td>
    </tr>
    <tr>
      <td>Confirm password</td>
      <td>
      <input type="password" required name="textfield3" class="form-control" onchange="val()" id="textfield3" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" class="btn btn-success" name="button" id="button" value="Save" style="display: none" /></td>
    </tr>
  </table>
    <script>
        function val() {
            if (document.getElementById("textfield2").value!=document.getElementById("textfield3").value){
                alert("Passwords do not match");
                document.getElementById("button").style.display = "none";
            }else{
                document.getElementById("button").style.display = "block";
            }
        }
    </script>
</form>
{% endblock %}