{% extends "hospital/index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" enctype="multipart/form-data" action="/hospital_add_doctor_post">
<table>
  <table class="table table-bordered">
    <tr>
      <td width="180px">Name</td>
      <td>
      <input type="text" name="textfield" required pattern="[A-Z/a-z/ /.]{3,}" class="form-control" id="textfield" /></td>
    </tr>
    <tr>
      <td>Photo</td>
      <td>
      <input type="file" name="file" class="form-control" required id="textfield2" /></td>
    </tr>
    <tr>
      <td>Email</td>
      <td>
      <input type="email" name="textfield3" class="form-control" required id="textfield3" /></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>
      <input type="number" name="textfield4" maxlength="10" class="form-control" required id="textfield4" /></td>
    </tr>

    <tr>
      <td>Gender</td>
      <td>
<input type="radio" name="radio" id="radio" checked value="Male" />
male
          <input type="radio" name="radio" id="radio2" value="Female" />
          <label for="radio2"></label>
        female
          <input type="radio" name="radio" id="radio3" value="Others" />
          <label for="radio3"></label>
        others</td>
    </tr>
    <tr>
      <td>Department</td>
      <td>
      <input type="text" name="textfield6" class="form-control" required pattern="[A-Z/a-z/ /.]{1,}" id="textfield6" /></td>
    </tr>
    <tr>
      <td>Place</td>
      <td>
      <input type="text" name="textfield7" class="form-control" required pattern="[A-Z/a-z/ /.]{3,}" id="textfield7" /></td>
    </tr>
    <tr>
      <td>Pin</td>
      <td>
      <input type="number" name="textfield8" maxlength="6" class="form-control" required id="textfield8" /></td>
    </tr>
    <tr>
      <td>DOB</td>
      <td>
      <input type="date" name="textfield9" class="form-control" required id="textfield9" /></td>
    </tr>
       <tr>
      <td>Qualification</td>
      <td>
      <input type="text" name="textfield11" class="form-control" required pattern="[A-Z/a-z/ /.]{3,}" id="textfield9" /></td>
    </tr>
    <tr>
      <td>Experience (in Years)</td>
      <td>
      <input type="number" name="textfield10" maxlength="2" class="form-control" required id="textfield10" /></td>
    </tr>

    <tr>
      <td>&nbsp;</td>
      <td>
      <input type="submit" name="button" id="button" value="Submit" /></td>
    </tr>
  </table>

</table>
</form>
{% endblock %}
