{% extends "admin/adminindex.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/view_user_post#tab">
 <p>&nbsp;</p>
  <p>&nbsp;</p>
  <table class="table table-bordered">
    <tr>
      <th>SNO</th>
      <th>Title</th>
      <th>Details</th>
        <th></th>

    </tr>
      {% for i in data %}
    <tr>
      <td width="50px">{{ loop.index }}</td>
      <td width="190px">{{ i['tipname'] }}</td>
      <td>{{ i['tipdetails'] }}</td>
      <td width="50px"><a href="/healthtipdelete/{{ i['tipid'] }}" class="btn btn-danger">Delete</a> </td>

    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
{% endblock %}
