{% extends "admin/adminindex.html" %}
{% block body %}
    <form id="form1" name="form1" method="post" action="/change_password_post">
  <table class="table table-bordered">
    <tr>
      <td width="180px">Current password</td>
      <td>
      <input type="text" class="form-control" required name="textfield" id="textfield" /></td>
    </tr>
    <tr>
      <td>New password</td>
      <td>
      <input type="text" class="form-control" required name="textfield2" id="textfield2" /></td>
    </tr>
    <tr>
      <td>Confirm password</td>
      <td>
      <input type="text" class="form-control" required name="textfield3" id="textfield3" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="save" class="btn btn-success"/></td>
    </tr>
</table>
</form>
{% endblock %}